@blue: #49A6FF;
@text: #444444;

@button-primary-bg-color: @blue;
@button-primary-disabled-bg-color: @text;
@button-primary-active-bg-color: @blue;

@tabbar-text-active-color: @text;

@tab-bar-active-color: @blue;
@tab-text-active-color: @blue;